---
import SocialLinks from "../../social-links.astro";
import MenuLinks from "./menuLinks.tsx";
import { BusinessInfo } from "@/data/business-info.js";
import { formatPhoneNumber } from "@/hooks/number_hooks";
import LogoComponentLazy from "@/components/logoComponent-lazy.astro";
import Logo from "@/assets/logo/logo-white-vertical.svg";
import tree from "@/assets/images/tree-silhouette3-white-200.webp";
---

<div
  id="mobile-menu"
  class="grid md:hidden h-full fixed left-auto right-0 top-0 overflow-y-auto overflow-x-hidden w-[250px] z-[999] bg-black mobile-menu-close no-scrollbar"
>
  <div id="close-btn" class="h-fit"><i class="fas fa-times close-btn"></i></div>
  <nav class="relative">
    <!-- Logo -->

    <div class="justify-center flex cursor-pointer select-none py-1">
      <a
        href="/"
        aria-current="page"
        class="justify-center flex max-w-full w--current"
      >
        <img
          src={Logo.src}
          loading="lazy"
          decoding="async"
          class="aspect-[2/1]"
          width={150}
          alt={`${BusinessInfo.companyName} logo`}
          aria-label={`${BusinessInfo.companyName} logo`}
        />
      </a>
    </div>

    <div class="menu-outer mt-[25px]">
      <MenuLinks client:only="react" />

      <div class="mobile-menu-links text-left" id="close-menu-link">
        <div
          class="relative flex flex-row border-t-[1px] border-t-[#686868] py-[10px] pl-[25px] hover:bg-slate-800 text-slate-300"
        >
          <p class="leader-[24px] relative !my-auto block">Close</p>
        </div>
      </div>
    </div>
    <div
      class="contact-info text-white pl-[25px] border-t-[1px] border-[#d6d6d6]"
    >
      <h4 class="font-bold">Contact Info</h4>
      <ul>
        {BusinessInfo && BusinessInfo.street && <li>{BusinessInfo.street},</li>}
        {
          BusinessInfo &&
            (BusinessInfo.city ||
              BusinessInfo.state ||
              BusinessInfo.country ||
              BusinessInfo.zip) && (
              <li>
                {BusinessInfo.city && <span>{BusinessInfo.city},</span>}
                {BusinessInfo.state && <span>{BusinessInfo.state},</span>}
                {BusinessInfo.country && <span>{BusinessInfo.country}</span>}
                {BusinessInfo.zip && <span>{BusinessInfo.zip}</span>}
              </li>
            )
        }
        {
          BusinessInfo && BusinessInfo.phone && (
            <li>
              <a href={`tel:${BusinessInfo.phone}`}>
                {formatPhoneNumber(BusinessInfo.phone)}
              </a>
            </li>
          )
        }
        {
          BusinessInfo && BusinessInfo.email && (
            <li>
              <a href={`mailto:${BusinessInfo.email}`}>{BusinessInfo.email}</a>
            </li>
          )
        }
      </ul>
    </div>
    <SocialLinks
      customStyle="clearfix flex flex-row [&>li]:mr-5 [&>li>a>span]:text-white my-10 pl-[25px]"
    />
    <div
      class="absolute bottom-0 left-[50%] translate-x-[-50%] right-0 block mx-auto select-none w-fit"
    >
      <img
        src={tree.src}
        alt="tree"
        class="w-[200px] aspect-square opacity-30"
        loading="lazy"
        decoding="async"
      />
    </div>
  </nav>
</div>
