---
export const prerender = true;
import StandardNavBar from "@/layout/standard-nav-bar.astro";
import ContentWrapper from "@/layout/ContentWrapper.astro";
import RenderPagination from "@/components/paginatedBlog/renderGeneralPagination.tsx";
import Banner from "@/components/small_banner/index.astro";
import { createStaticPathArrayForTagsAndPage } from "@/hooks/blogHooks";
import BlogPreview from "@/components/blogComponents/previewLink.astro";
import type { PostType, PostAssetType } from "@/util/interface";

export async function getStaticPaths() {
  const PAGE_SIZE: number = 6;
  var allPosts: Array<PostType> = [];
  try {
    allPosts = await Astro.glob("../../posts/*.md");
  } catch (error) {
    allPosts = [];
  }
  var assets: Array<PostAssetType> = [];
  try {
    assets = await Astro.glob("../../../assets/uploads/*");
  } catch (error) {
    assets = [];
  }
  return createStaticPathArrayForTagsAndPage({ allPosts, assets, PAGE_SIZE });
}

const { tag, page } = Astro.params;
const { totalPages, paginatedArray, totalPosts, PAGE_SIZE } = Astro.props;

const BannerTitle = `Posts tagged with ${tag}`;
---

<StandardNavBar pageTitle={tag}>
  <Banner title={BannerTitle} />
  <ContentWrapper customStyle="w-11/12 h-auto mx-auto mb-[100px] sm:mb[0px]">
    <RenderPagination
      category="tags"
      categoryName={tag}
      pageSize={PAGE_SIZE}
      totalCount={totalPosts}
      }
      currentPage={parseInt(page)}
      totalPages={totalPages}
      isMobile={true}
      client:load
    />
    {
      paginatedArray && paginatedArray.length > 0 ? (
        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-5 mt-10">
          {paginatedArray.map((post: PostType) => {
            if (post.frontmatter.featured_image) {
              return (
                <BlogPreview
                  {...post.frontmatter}
                  url={post.url}
                  thumbnail={post.featured_image}
                />
              );
            }
            return <BlogPreview {...post.frontmatter} url={post.url} />;
          })}
        </div>
      ) : (
        <div />
      )
    }
    <RenderPagination
      category="tags"
      categoryName={tag}
      pageSize={PAGE_SIZE}
      totalCount={totalPosts}
      }
      currentPage={parseInt(page)}
      totalPages={totalPages}
      isMobile={false}
      client:load
    />
  </ContentWrapper>
</StandardNavBar>
