---
export const prerender = true;
import StandardNavBar from "@/layout/standard-nav-bar.astro";
import ContentWrapper from "@/layout/ContentWrapper.astro";
import { createStaticPathArrayForTags } from "@/hooks/blogHooks";
import BlogPreview from "@/components/blogComponents/previewLink.astro";
import Banner from "@/components/small_banner/index.astro";
import type { PostType, PostAssetType } from "../../util/interface";

export async function getStaticPaths() {
  const PAGE_SIZE: number = 6;
  var allPosts: Array<PostType> = [];
  try {
    allPosts = await Astro.glob("../posts/*.md");
    //
  } catch (error) {
    allPosts = [];
  }
  var assets: Array<PostAssetType> = [];
  try {
    assets = await Astro.glob("../../assets/uploads/*");
  } catch (error) {
    assets = [];
  }
  var staticArray = createStaticPathArrayForTags({
    allPosts,
    assets,
    PAGE_SIZE,
  });
  return staticArray;
}

const { tag } = Astro.params;
const { totalPages, filteredPosts } = Astro.props;
const BannerTitle = `Posts tagged with ${tag}`;
---

<StandardNavBar pageTitle={tag}>
  <Banner title={BannerTitle} />
  <ContentWrapper>
    <h1 class="text-2xl font-bold text-center mt-10">
      Posts tagged with {tag}
    </h1>
    {
      filteredPosts && filteredPosts.length > 0 ? (
        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-5 mt-10">
          {filteredPosts.map((post: PostType) => {
            if (post.frontmatter.featured_image) {
              return (
                <BlogPreview
                  {...post.frontmatter}
                  url={post.url}
                  thumbnail={post.featured_image}
                />
              );
            }
            return <BlogPreview {...post.frontmatter} url={post.url} />;
          })}
        </div>
      ) : (
        <div />
      )
    }
  </ContentWrapper>
</StandardNavBar>
