---
import "./before-after-style.css";
import Slider from "./slider.tsx";
const HEIGHT_MOBILE = 150;
const {
  HEIGHT = 419,
  BImage,
  AImage,
  mobile_BImage,
  mobile_AImage,
} = Astro.props;
---

<div
  class="flex flex-row text-center font-dm text-2xl sm:text-3xl mt-[100px] justify-around w-[300px] mx-auto"
>
  <h3>Before</h3><h3>|</h3>
  <h3>After</h3>
</div>
<div class="hidden sm:block relative mx-auto" style={{ height: `${HEIGHT}px` }}>
  <Slider
    HEIGHT={419}
    WIDTH={500}
    bgImg={BImage}
    fgImg={AImage}
    client:only="react"
  />
</div>
<div
  class="block sm:hidden relative mx-auto"
  style={{ height: `${HEIGHT_MOBILE}px` }}
>
  <Slider
    HEIGHT={210}
    WIDTH={300}
    bgImg={mobile_BImage}
    fgImg={mobile_AImage}
    client:only="react"
  />
</div>
