---
import Shape3 from "./shapes/shape-3.webp";
import Shape4 from "./shapes/shape-4.webp";
import SellingItem from "./selling-item.astro";
const {
  SellingPoint1,
  SellingPoint2,
  SellingPoint3,
  icon1,
  icon2,
  icon3,
  BGImg,
} = Astro.props;
---

<div
  id="SellingPoints"
  class="SellingPoints relative w-full p-[0px] flex my-auto justify-center h-fit"
>
  <div class="inner-content text-center relative w-full h-full">
    <div
      class="pattern-layer hidden md:block my-auto absolute h-full z-[0] inset-0"
      id="Graphic_patterns"
    >
      <div
        class="pattern-1 bg-[#2e7753] w-[210px] h-[210px] rounded-[50%] opacity-10 absolute inset-0"
      >
      </div>
      {
        BGImg && (
          <img
            src={BGImg.src}
            loading="lazy"
            decoding="async"
            class="w-[350px] aspect-square m-auto object-contain absolute inset-0"
            alt="Koi Background"
          />
        )
      }
      <div
        id="interest-pattern-2"
        class="pattern-2 absolute animated"
        data-wow-delay="00ms"
        data-wow-duration="1500ms"
        style=`background-image: url(${Shape3.src});`
      >
      </div>
      <div
        id="interest-pattern-3"
        class="pattern-3 absolute animated"
        data-wow-delay="00ms"
        data-wow-duration="1500ms"
        style=`background-image: url(${Shape4.src});`
      >
      </div>
    </div>
    <div class="items-center grid sm:grid-cols-2 gap-x-10 px-5 !z-[10] h-full">
      <div class="">
        <SellingItem label={SellingPoint1} icon={icon1} index={1} delay="" />
        <SellingItem
          label={SellingPoint2}
          icon={icon2}
          index={2}
          delay="delay-[200ms]"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <SellingItem
          label={SellingPoint3}
          icon={icon3}
          index={3}
          delay="delay-[400ms]"
        />
      </div>
    </div>
  </div>
</div>
