---
import { BusinessInfo } from "@/data/business-info.js";
import { formatPhoneNumber } from "@/hooks/number_hooks.tsx";
import Leaf from "./leaf.png";
import "./style.css";
const publicKey = import.meta.env.PUBLIC_EMAILJS_PUBLIC_KEY;
const serviceId = import.meta.env.PUBLIC_EMAILJS_SERVICE_ID;
const templateId = import.meta.env.PUBLIC_EMAILJS_TEMPLATE_ID;

const {
  title = "Have something to say?",
  subtitle = "Share your thoughts.",
  BTNLabel = "Send",
} = Astro.props;
---

<div class="relative isolate bg-white overflow-hidden">
  <div class="mx-auto grid grid-cols-1 md:grid-cols-2">
    <div
      id="left-panel"
      class="bg-teal-200 rounded-b-lg order-[2] md:order-[1] md:rounded-l-lg md:rounded-br-[0px]"
    >
      <div class="p-10 lg:px-32 md:pb-32 md:pt-20">
        <div>
          <div class="text-gray-600 text-2xl uppercase mb-5 grid">
            <div id="Contact-company-info" class="text-base">
              <div class="">
                <span class="font-bold">Email: </span><a
                  href={`mailto:${BusinessInfo.email}`}>{BusinessInfo.email}</a
                >
              </div>
              <div class="">
                <span class="font-bold">Tel: </span><a
                  href={`tel:${BusinessInfo.phone}`}
                  >{formatPhoneNumber(BusinessInfo.phone)}</a
                >
              </div>
            </div>
          </div>
          <h2 class="text-2xl md:text-4xl pb-5">{title}</h2>
          <h3>{subtitle}</h3>
        </div>
        <form action="#" method="POST" class="mt-10">
          <div class="mx-auto max-w-xl">
            <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
              <div class="sm:col-span-2">
                <div class="mt-2.5">
                  <input
                    type="text"
                    name="name"
                    id="nameInput"
                    placeholder="Full Name"
                    class="block w-full py-2 text-gray-900 bg-transparent placeholder:text-gray-800 sm:text-sm/6 border-b-slate-300 border-b-[2px]"
                    required
                  />
                </div>
              </div>
              <div class="sm:col-span-2">
                <div class="mt-2.5">
                  <input
                    type="email"
                    name="email"
                    id="emailInput"
                    autocomplete="email"
                    placeholder="Email"
                    class="block w-full py-2 text-gray-900 bg-transparent placeholder:text-gray-800 sm:text-sm/6 border-b-slate-300 border-b-[2px]"
                    required
                  />
                </div>
              </div>
              <div class="sm:col-span-2">
                <div class="mt-2.5">
                  <input
                    type="tel"
                    name="phone"
                    id="phoneInput"
                    autocomplete="tel"
                    placeholder="Phone"
                    class="block w-full py-2 text-gray-900 bg-transparent placeholder:text-gray-800 sm:text-sm/6 border-b-slate-300 border-b-[2px]"
                    required
                  />
                </div>
              </div>
              <div class="sm:col-span-2">
                <div class="mt-2.5">
                  <input
                    type="text"
                    name="subject"
                    id="subjectInput"
                    autocomplete="tel"
                    placeholder="Subject Line"
                    class="block w-full py-2 text-gray-900 bg-transparent placeholder:text-gray-800 sm:text-sm/6 border-b-slate-300 border-b-[2px]"
                  />
                </div>
              </div>
              <div class="sm:col-span-2">
                <div class="mt-2.5">
                  <textarea
                    name="message"
                    id="messageInput"
                    rows="4"
                    class="block w-full py-2 text-gray-900 bg-transparent placeholder:text-gray-800 sm:text-sm/6 border-b-slate-300 border-b-[2px]"
                    placeholder="Type your message here."></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-8 flex justify-start">
            <button
              type="submit"
              class="rounded-[50px] bg-slate-700 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >Send message</button
            >
          </div>
        </form>
      </div>
    </div>
    <div
      id="right-panel"
      class="rounded-t-lg min-h-[360px] md:rounded-r-lg order-[1] md:order-[2] bg-[url('https://images.unsplash.com/photo-1483197452165-7abc4b248905?q=80&w=1336&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-no-repeat bg-cover"
    >
    </div>
  </div>
</div>
<div
  id="Alert-Message"
  class="fixed font-primaryF !bg-secondaryC border-2 border-primaryC border-solid rounded-lg text-white text-center h-fit w-11/12 sm:w-8/12 md:w-[300px] fixed top-[25%] left-[50%] translate-x-[-50%] block justify-center transition-all duration-500 !z-[99] py-5 MessageFadeOut"
>
</div>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
></script>
<script
  type="module"
  define:vars={{ publicKey, serviceId, templateId, BusinessInfo }}
  is:inline
>
  document.addEventListener("astro:page-load", () => {
    (function () {
      try {
        emailjs.init(publicKey);
      } catch (error) {
        console.log("error: ", error);
      }
    })();
    const MessageElement = document?.getElementById("Alert-Message");

    const openMessage = (message) => {
      MessageElement.innerHTML = message;
      MessageElement.classList.remove("MessageFadeOut");
      const clearTimeout = setTimeout(() => {
        MessageElement.classList.add("MessageFadeOut");
      }, 3000);
    };

    const HandleSubmit = () => {
      const nameInput = document.getElementById("nameInput");
      const emailInput = document.getElementById("emailInput");
      const phoneInput = document.getElementById("phoneInput");
      const subjectInput = document.getElementById("subjectInput");
      const messageInput = document.getElementById("messageInput");

      const name = nameInput?.value;
      const email = emailInput?.value;
      const subject = subjectInput?.value;
      const phone = phoneInput?.value;
      const message = messageInput?.value;
      var templateParams = {
        to_name: BusinessInfo.owner,
        from_name: name,
        subject_line: subject,
        phone_number: phone,
        message,
        reply_to: email,
      };
      try {
        emailjs.send(serviceId, templateId, templateParams).then(
          function (response) {
            console.log("SUCCESS!", response.status, response.text);
            window.location.href = "/message_sent";
          },
          function (error) {
            console.log("FAILED...", error);
            openMessage(error);
          },
        );
      } catch (error) {
        console.log("error: ", error);
        openMessage(error);
      }
    };

    const ContactForm = document.getElementById("contactForm");
    ContactForm?.addEventListener("submit", (event) => {
      event.preventDefault();
      HandleSubmit();
    });
  });
</script>
