---
const { customStyle } = Astro.props;
import { BusinessInfo } from "@/data/business-info.js";
const { followUsText } = Astro.props;
import LinkedIn from "@/assets/icons/social/linkedin.webp";
import Facebook from "@/assets/icons/social/facebook.webp";
import TikTok from "@/assets/icons/social/Tiktok.webp";
import Tumblr from "@/assets/icons/social/tumblr.webp";
import Twitch from "@/assets/icons/social/twitch.webp";
import Twitter from "@/assets/icons/social/twitter.webp";
import YouTube from "@/assets/icons/social/youtube.webp";
import Instagram from "@/assets/icons/social/instagram.webp";
import SocialComponent from "./socialIconComponent.astro";
---

<div
  class={`${customStyle ? customStyle : "flex flex-row mx-auto w-fit [&>*]:!mx-1 justify-evenly"}`}
>
  {
    BusinessInfo.facebook && (
      <SocialComponent
        social="Facebook"
        icon={Facebook}
        link={BusinessInfo.facebook}
      />
    )
  }
  {
    BusinessInfo.tiktok && (
      <SocialComponent
        social="TikTok"
        icon={TikTok}
        link={BusinessInfo.tiktok}
      />
    )
  }
  {
    BusinessInfo.tumblr && (
      <SocialComponent
        social="Tumblr"
        icon={Tumblr}
        link={BusinessInfo.tumblr}
      />
    )
  }
  {
    BusinessInfo.twitch && (
      <SocialComponent
        social="Twitch"
        icon={Twitch}
        link={BusinessInfo.twitch}
      />
    )
  }
  {
    BusinessInfo.twitter && (
      <SocialComponent
        social="Twitter"
        icon={Twitter}
        link={BusinessInfo.twitter}
      />
    )
  }
  {
    BusinessInfo.youtube && (
      <SocialComponent
        social="YouTube"
        icon={YouTube}
        link={BusinessInfo.youtube}
      />
    )
  }
  {
    BusinessInfo.instagram && (
      <SocialComponent
        social="Instagram"
        icon={Instagram}
        link={BusinessInfo.instagram}
      />
    )
  }
</div>
