---
import affordable from "@/assets/images/why-work-w-us/affordable.webp";
import cement from "@/assets/images/why-work-w-us/cement.webp";
import design from "@/assets/images/why-work-w-us/design.webp";
import Flexibility from "@/assets/images/why-work-w-us/flexibility.webp";
import guaranteed from "@/assets/images/why-work-w-us/guaranteed.webp";
import resourceful from "@/assets/images/why-work-w-us/resourceful.webp";
import Panel from "./why-panel.astro";
import Helen from "@/assets/images/helen.webp";
import Counter from "../counter.jsx";
---

<div class="bg-white">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
    class="w-full z-[0]"
    ><path
      fill="#f0f0f0"
      fill-opacity="1"
      d="M0,160L720,320L1440,128L1440,0L720,0L0,0Z"></path></svg
  >
</div>
<section class="relative overflow-visible md:h-full bg-white">
  <div
    class="px-5 py-20 flex flex-col md:flex-rofw md:grid md:grid-cols-2 md:gap-5"
  >
    <div
      class="min-w-[40%] mb-10 md:mb-0 md:sticky md:top-[150px] md:h-fit md:w-fit block"
    >
      <h3 class="uppercase text-slate-500 text-lg text-center md:text-left">
        About us
      </h3>
      <h2
        class="text-2xl md:text-4xl text-center md:text-left font-bold mb-5 text-black"
      >
        What make us different than other <span class="text-primaryC"
          >artificial turf installers in Los Angeles?</span
        >
      </h2>
      <div
        class="w-[320px] h-[320px] sm:w-[350px] sm:h-[350px] rounded-full mx-auto overflow-hidden"
      >
        <img
          src={Helen.src}
          alt="owner of hard rock landscaping"
          class="w-[350px] aspect-[3/4]"
        />
      </div>
      <div id="ClientCounter" class="min-h-[25px] min-w-[25px] mx-auto">
        <Counter from={0} to={200} client:only="react" />
      </div>
    </div>
    <div
      class="[&>div]:rounded-lg [&>div]:bg-white [&>div]:shadow-[rgba(100,100,111,0.2)_0px_7px_29px_0px] [&>div]:p-5 [&>div]:mb-5 md:[&>div]:mb-0 md:grid gap-5 z-[1]"
    >
      <Panel image={Flexibility} label="Flexibility">
        <p>
          If you have any last minute changes even if a project has already
          started, we will adjust our procedures to make them happen.
        </p>
      </Panel>
      <Panel image={resourceful} label="Resourcefulness">
        <p>
          If you have any last minute changes even if a project has already
          started, we will adjust our procedures to make them happen.
        </p>
      </Panel>

      <Panel image={affordable} label="Affordability">
        <p>
          If you have any last minute changes even if a project has already
          started, we will adjust our procedures to make them happen.
        </p>
      </Panel>

      <Panel image={design} label="Landscape design expertise">
        <p>
          If you have any last minute changes even if a project has already
          started, we will adjust our procedures to make them happen.
        </p>
      </Panel>

      <Panel image={cement} label="Pavers and cement work">
        <p>
          If you have any last minute changes even if a project has already
          started, we will adjust our procedures to make them happen.
        </p>
      </Panel>

      <Panel image={guaranteed} label="Secured investment">
        <p>
          If you have any last minute changes even if a project has already
          started, we will adjust our procedures to make them happen.
        </p>
      </Panel>
    </div>
  </div>
</section>
