---
import SEO from "@/components/SEO.astro";
import "@/components/interactive/animation.css";
const {
  pageTitle,
  customDescription,
  OGImage,
  canonicalUrl = null,
  ToBeIndexed = true,
  withCTA = false,
} = Astro.props;

import { ClientRouter } from "astro:transitions";
import Footer from "@/components/footer/index.astro";
import CTAFooter from "@/components/footer/with-CTA.astro";
import "@/style/style.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <title>{pageTitle}</title>
    <meta
      property="og:image"
      content="https://hard-rock-landscaping.netlify.app/assets/images/OGImage.png"
    />
    <meta
      property="og:image:secure_url"
      content="https://hard-rock-landscaping.netlify.app/assets/images/OGImage.png"
    />
    <SEO
      title={pageTitle}
      description={customDescription}
      image={OGImage}
      {canonicalUrl}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="" />
    <meta
      name="google-site-verification"
      content="bvqzLgsLZVT5MzqdlEtBkhBL9OUPEqNnKtGTi3OK8os"
    />
    {!ToBeIndexed && <meta name="robots" content="noindex" />}
    <link
      href="/style/global.css"
      rel="stylesheet"
      type="text/css"
      media="print"
      onload="this.media='all'; this.onload=null;"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link
      href="/assets/icons/favicon.svg"
      rel="shortcut icon"
      type="image/svg"
    />
    <ClientRouter />
  </head>

  <body class="h-full relative" id="body">
    <slot />
    {withCTA && <CTAFooter />}
    {!withCTA && <Footer />}
  </body>
</html>
